server:
  port: 8761

eureka:
  instance:
    hostname: localhost


  client:
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
        defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/


  server:
    #是否开启eureka的保护模式
    enable-self-preservation: true